@import '../base';

.artist {
  border-radius: 2px;
  min-width: 291px;

  @media screen and (min-width: $big-bp) {
    min-width: 480px;
  }

  .artist-name,
  .artist-tagline {
    font-family: $primaryFont;
    color: $white;
  }

  .arting-logo {
    width: 240px;
    height: 192px;
    margin-bottom: 2em;

    @media screen and (min-width: $big-bp) {
      margin-bottom: 0;
      width: 330px;
      height: 265px;
    }
  }

  .gallery-page & {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1000;
    background-color: transparent;
    border-style: none;
    border-radius: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    width: 166px;
    line-height: 30px;
    height: 30px;

    @media screen and (max-width: $small-bp) {
      align-items: flex-start;
      top: 5px;
      left: -1px;
      opacity: 0.8;
    }

    &:hover {
      .artist-logo,
      .artist-name {
        opacity: 1;
      }
    }

    .artist-logo {
      width: 30px;
      opacity: 0.6;
      transition: opacity 2000ms;
    }

    .artist-name {
      color: $black;
      font-size: 3rem;
      opacity: 0.6;
      transition: opacity 2000ms;
      display: inline;
      position: relative;
      top: -2px;

      &:active,
      &:hover {
        text-decoration: none;
      }
    }
  }

  .landing-page & {
    margin: -35px 0 0;

    .artist-tagline {
      font-size: 1rem;
      padding: 0;
      opacity: 1;
      letter-spacing: -3px;
      color: $highlight-color-light;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 500px;

      @media screen and (min-width: $big-bp) {
        font-size: 3.8rem;
      }
    }

    .artist-name {
      font-size: 7rem;
      line-height: 1;
      margin: 10px 0 40px;

      @media screen and (min-width: $big-bp) {
        font-size: 10rem;
      }
    }

    .artist-logo {
      display: block;
      margin: 0 auto;
      max-width: 280px;
      opacity: 1;
      position: static;

      @media screen and (min-width: $big-bp) {
        max-width: 360px;
      }
    }

    .artist-name,
    .artist-tagline {
      text-align: center;
    }
  }
}

$animationSpeed: 1s;
$logoTextBottom: 45px;
$logoTextBottomX: 50px;
$logoColor: $white;

$headerBorderSize: 8px;
$eyeBorderSize: 4px;
$bodyHeight: 55px;
$bodyWidth: 8px;
$limbHeight: 155px;
$limbWidth: 8px;

.moxie-logo {
  width: 350px;
  height: 250px;
  position: relative;
}
.moxie-logo__head {
  position: absolute;
  left: 80px;
  bottom: 110px;
  width: 170px;
  height: 90px;
  border-radius: 50%;
  border: solid $headerBorderSize $logoColor;
  transition: all $animationSpeed;

  .moxie-logo--text & {
    width: 35px;
    height: 35px;
    border: solid $headerBorderSize $logoColor;
    position: absolute;
    bottom: $logoTextBottom;
    left: 78px;
  }
}
.moxie-logo__eye {
  position: absolute;
  bottom: 129px;
  left: 166px;
  transition: all $animationSpeed;
  width: 0px;
  height: 45px;

  .moxie-logo--text & {
    bottom: $logoTextBottomX + 5px;
  }

  &:before {
    content: ' ';
    border: solid $eyeBorderSize $logoColor;
    position: absolute;
    height: 45px;
    transform: rotate(45deg);
    transition: all $animationSpeed;

    .moxie-logo--text & {
      transform: rotate(135deg);
      border: solid 4px $logoColor;
      height: 50px;
    }
  }
  &:after {
    content: ' ';
    border: solid $eyeBorderSize $logoColor;
    position: absolute;
    height: 45px;
    transform: rotate(-45deg);
    transition: all $animationSpeed;

    .moxie-logo--text & {
      transform: rotate(-135deg);
      border: solid 4px $logoColor;
      height: 50px;
    }
  }
}

.moxie-logo__body {
  height: $bodyHeight;
  width: $bodyWidth;
  background: $logoColor;
  position: absolute;
  left: 172px;
  bottom: 62px;
  transition: all $animationSpeed;

  .moxie-logo--text & {
    height: 45px;
    width: 8px;
    bottom: $logoTextBottomX;
    left: 230px;
  }
}

.moxie-logo__left-ear {
  background-color: #fff;
  position: absolute;
  bottom: 180px;
  left: 105px;
  transition: all $animationSpeed;
  width: 0px;
  height: 35px;

  .moxie-logo--text & {
    bottom: $logoTextBottomX;
    left: 0;
  }

  &:before {
    content: ' ';
    border: solid 4px $logoColor;
    position: absolute;
    height: 35px;
    transform: rotate(10deg);
    transition: all $animationSpeed;
    left: -5px;
    bottom: -2px;

    .moxie-logo--text & {
      transform: rotate(0deg);
    }
  }
  &:after {
    content: ' ';
    border: solid 4px $logoColor;
    position: absolute;
    height: 35px;
    transform: rotate(-50deg);
    transition: all $animationSpeed;
    right: -16px;
    bottom: 8px;

    .moxie-logo--text & {
      transform: rotate(-45deg);
      right: -15px;
      bottom: 10px;
    }
  }
}

.moxie-logo__right-ear {
  background-color: #fff;
  position: absolute;
  bottom: 180px;
  left: 230px;
  transition: all $animationSpeed;
  width: 0px;
  height: 35px;
  transform: scaleX(-1);

  .moxie-logo--text & {
    bottom: $logoTextBottomX;
    left: 47px;
  }

  &:before {
    content: ' ';
    border: solid 4px $logoColor;
    position: absolute;
    height: 35px;
    transform: rotate(-50deg);
    transition: all $animationSpeed;
    right: -18px;
    bottom: 8px;

    .moxie-logo--text & {
      transform: rotate(-45deg);
      right: -15px;
      bottom: 10px;
    }
  }
  &:after {
    content: ' ';
    border: solid 4px $logoColor;
    position: absolute;
    height: 35px;
    transform: rotate(10deg);
    transition: all $animationSpeed;
    left: -5px;
    bottom: -2px;

    .moxie-logo--text & {
      transform: rotate(0deg);
    }
  }
}
.moxie-logo__arms,
.moxie-logo__legs,
.moxie-logo__tail {
  height: $limbHeight;
  width: $limbWidth;
  background: $logoColor;
  position: absolute;
  left: 166px;
  bottom: 20px;
  transition: all $animationSpeed;
  transform: rotate(90deg);

  .moxie-logo--text & {
    height: 35px;
    width: 8px;
    bottom: $logoTextBottomX + 23px;
    left: 284px;
  }
}

.moxie-logo__legs {
  bottom: 3px;

  .moxie-logo--text & {
    height: 35px;
    width: 8px;
    bottom: $logoTextBottomX + 5px;
  }
}

.moxie-logo__tail {
  bottom: -14px;

  .moxie-logo--text & {
    height: 35px;
    width: 8px;
    bottom: $logoTextBottomX - 13px;
  }
}