$gallery-controls-height: 100px;

@keyframes gallery_image_animation {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.15, 1.15);
  }
  100% {
    transform: scale(1, 1);
  }
}

.gallery,
.gallery-mini {
  margin: 0;
  padding: 0;
  
  @media screen and (min-width: $big-bp) {
    overflow: hidden;
  }

  > li {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      display: block;
    }
  }
}

.gallery {
  @media screen and (max-width: $small-bp) {
    display: flex;
    flex-direction: column;

    & > li {
      flex: 1;
      height: 33.357vh;
      width: 100%;
    }
  }
}

.gallery-mini {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  > li {
    width: 33%;
  }

  @media screen and (min-width: $big-bp) {

  }

  @media screen and (max-width: $small-bp) {
    display: none;
  }
}

.gallery > li img {
  width: 200px;
}

.gallery__image {
  background-size: contain;
  background-position: center center;
  z-index: 1;
  position: relative;

  @media screen and (min-width: $big-bp) {
    position: absolute;
    top: 80px;
    bottom: 185px;
    left: 60px;
    right: 60px;
    display: none;

    &.gallery__image--fs {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;
      background-position: center center !important;
      background-size: contain;
      background-color: $white;
    }

    .active & {
      display: block;
    }
  }

  @media screen and (max-width: $small-bp) {
    height: 100%;
    background-size: cover !important;
  }
}

.gallery__image__fstoggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-style: none;
  background: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.gallery-mini__image {
  cursor: pointer;
  flex-basis: auto;
  flex-grow: 1;
  align-self: stretch;
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  perspective: 1000px;

  &::after {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 2px;
    opacity: 0;
    text-transform: opacity 300ms ease-in-out;
  }

  .gallery-grid--expanded &:hover {
    @media screen and (min-width: $big-bp) {
      &::after {
        opacity: 1;
      }
    }
  }

  .gallery-mini__image__flipper {
    transition: transform 300ms linear;
    transition-delay: 100ms;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .gallery-grid--expanded &:hover .gallery-mini__image__flipper {
    transform: rotateX(180deg);
  }

  .gallery-mini__image__front,
  .gallery-mini__image__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    // http://stackoverflow.com/questions/27342270/css-3d-transforms-in-safari
    transition: transform 300ms linear;
  }

  .gallery-mini__image__front {
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    transform: rotateX(0deg);
  }

  .gallery-mini__image__back {
    transform: rotateX(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
  }

  .gallery-mini__image__meta__header {
    text-align: center;
  }

  .gallery-mini__image__meta__name {
    font-size: 4rem;
  }

  .gallery-mini__image__meta__description {
    font-size: 1.5rem;
  }

  .gallery-mini__image__meta__prints-label {
    margin-right: 24px;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.9);

    @media screen and (max-width: $small-bp) {
      margin: 0 0 $default-gutters 0;
      background-color: $black;
      flex-direction: column;
    }
  }

  .gallery-mini__image__meta__prints {
    display: flex;
    align-items: center;
    transition: opacity 300ms;
    margin: 0;
    padding: 0;
    height: 90px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    .btn {
      display: block;
      width: 100%;
      padding: 15px 10px;
      font-size: 1.6rem;
      border-top-style: none;
      border-left-style: none;
      border-right-style: none;

      .gallery-grid:not(:hover) & {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}

.gallery-grid {
  display: flex;
  position: absolute;
  top: -30px;
  z-index: 500;
  right: 0;
  height: $gallery-controls-height;
  transition:
    height 300ms,
    width 300ms,
    border 300ms,
    top 300ms,
    ;

  @media screen and (max-width: $small-bp) {
    display: none;
  }

  @media screen and (min-width: $big-bp) {
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    border: 8px solid rgba(64, 255, 200, 0.2);
    border-top: none;
    border-radius: 0 0 7px 7px;

    &:not(.gallery-grid--expanded):hover {
      border-color: darken($primary-color, 25%);
      top: 0;
    }

    &.gallery-grid--expanded {
      height: 100vh;
      width: 100%;
      border-radius: 0;
      border-width: 0;
      top: 0;
    }
  }

  .gallery-buttons {
    position: absolute;
    top: -68px;
    left: 20px;
  }

  .btn-play {
    background-color: transparent;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    line-height: 46px;
    font-size: 20px;
    transition: background-color 150ms,
      color 150ms;

    .gallery-grid:hover &,
    &:hover {
      background-color: $highlight-color-dark;
      color: $white;
    }

    &:active {
      background-color: darken($highlight-color-dark, 15%);
      color: $white;
    }

    i {
      position: static;
    }
  }
}

.gallery-image-meta {
  display: none;
  position:  absolute;
  left: 0;
  right: 0;
  bottom: $gallery-controls-height;
  font-size: 2.0rem;
  color: $black;
  background-color: $white;
  z-index: 2;
  display: none;
  

  .active & {
    display: flex;
  }

  @media screen and (min-width: $big-bp) {
    padding: $default-gutters $default-gutters 0;
    height: 130px;
    bottom: 55px;
  }

  @media screen and (max-width: $small-bp) {
    bottom: 0;

    .active & {
      display: none;
    }
  }

  .gallery-image-meta__header {
    flex: 1;
    text-align: center;
  }

  .gallery-image-meta__content {
    display: inline-flex;
    align-items: center;
    margin-left: auto;

    @media screen and (min-width: $big-bp) {
      opacity: 0;
    }

    @media screen and (max-width: $small-bp) {
      padding: $default-gutters;
      background-color: $black;
      flex-direction: column;
    }

    img {
      margin-right: 24px;
    }
  }

  img {
    width: 100%;
  }
}

.gallery-controls {
  position: absolute;
  left: 50%;
  bottom: 15px;
  opacity: 0.2;
  transition: opacity 500ms;
  transform: translateX(-50%);
  z-index: 400;

  &:hover {
    opacity: 1;
  }

  .btn-arrow-start,
  .btn-arrow-stop,
  .btn-arrow-previous,
  .btn-arrow-next {
    border-style: none;
    background-image: none;
    background-color: transparent;
    padding: 0;
    margin: 0;

    svg {
      height: 36px;
      width: 36px;
    }

    &:hover path {
      fill: $menu-trigger-active-color;
    }

    path {
      transition: fill 300ms;
      fill: $menu-trigger-color;
    }
  }

  .btn-arrow-previous {
    margin-right: 8px;
  }
  .btn-arrow-next {
    margin-left: 8px;
  }

  .btn-arrow-previous svg {
    transform: rotate(180deg);
  }
}
.gallery-image-meta__name {
  padding: $default-gutters 0 6px 0;
  font-size: 3.0rem;
}

.gallery-image-meta__description {
  font-size: 1.6rem;
  padding: 0 0 $default-gutters 0;
  margin-bottom: auto;
}

.gallery-image-meta__prints-label {
  margin-right: 24px;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.9);

  @media screen and (max-width: $small-bp) {
    margin: 0 0 $default-gutters 0;
    background-color: $black;
    flex-direction: column;
  }
}

.gallery-image-meta__prints {
  display: flex;
  align-items: center;
  transition: opacity 300ms;
  margin: 0;
  padding: 0;
  height: 90px;

  li + li {
    margin-left: 24px;
  }

  .btn {
    display: block;
    width: 100%;
    padding: 15px 10px;
    font-size: 1.6rem;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

    .gallery-grid:not(:hover) & {
      color: rgba(0, 0, 0, 0.9);
    }
  }
}

.purchase-options {
  align-self: stretch;
  width: 175px;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 100;
  float: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 300ms;
  position: relative;

  .purchase-options__front, .purchase-options__back {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .purchase-options__front {
    top: 0;

    div:last-child {
      font-size: 1.6rem;
    }
  }

  .purchase-options__back {
    bottom: -1000px;
    background-color: $highlight-color-dark;
    transition: bottom 300ms;

    a, span {
      font-size: 1.6rem;
      color: $white;
    }
  }

  &:hover {
    background-color: $highlight-color-dark;

    .purchase-options__back {
      top: 0;
      bottom: 0;
      z-index: 20;
    }
  }
}

.artwork-card {
  align-self: stretch;
  width: 175px;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 2.4rem;
  font-weight: 100;
  float: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 300ms;

  &:hover .flipper {
    transform: rotateX(180deg);
  }

  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .front, .back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    backface-visibility: hidden;
  }

  .front {
    z-index: 20;
    transform: rotateX(0deg);

    div:last-child {
      font-size: 1.6rem;
    }
  }

  .back {
    transform: rotateX(180deg);
    opacity: 0;
    background-color: $highlight-color-dark;

    a {
      color: $highlight-color-light;
    }
  }

  &:hover {
    background-color: $highlight-color-dark;

    .front {
      opacity: 0;
    }

    .back {
      opacity: 1;
    }
  }
}

.meta-item {
  display: inline-flex;
  align-items: center;

  &.meta-item--size {
    align-self: stretch;
    width: 175px;
    border: 2px dashed rgba(255, 255, 255, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }

  .meta-item__value {
    font-size: 2.4rem;
    font-weight: 100;
  }
}

.btn-gallery-close {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 100;
  background: transparent;
  border-style: none;
  color: $white;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 6px 25px;
  transform: translateX(-50%);
  text-transform: uppercase;
  transition: border-color 300ms;
  letter-spacing: 4px;

  &:hover {
    border-color: $white;
  }

  .gallery-grid--expanded & {
    display: block;
  }
}

.btn-gallery-navigation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
  width: 100%;
  background: transparent;
  z-index: 200;

  .gallery-grid--expanded & {
    display: none;
  }

  span {
    display: none;
  }
}