$small-bp: 480px;
$big-bp: 481px;

$gallery-controls-height: 100px;

@keyframes gallery_image_animation {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}

.gallery,
.gallery-mini {
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;

    a {
      display: block;
    }
  }
}

.gallery-mini {
  display: flex;
  flex-direction: row;
  width: 100%;

  li {
    float: none;
  }

  @media screen and (max-width: $small-bp) {
    display: none;
  }
}

.gallery li img {
  width: 200px;
}

.gallery__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-size: cover;
  background-position: center center;
  z-index: 1;

  @media screen and (min-width: $big-bp) {
    .active & {
      display: block;
      animation: gallery_image_animation 120s infinite;
    }
  }

  @media screen and (max-width: $small-bp) {
    .active & {
      display: block;
      top: 57px;
    }
  }
}

.gallery-mini__image {
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  height: $gallery-controls-height;
  min-width: 153px;
  border-bottom: 4px solid transparent;
  flex-basis: auto;
  flex-grow: 1;

  &.active,
  &.active:hover {
    border-bottom: 4px solid $highlight-color-light;
  }

  &:not(.active):hover {
    border-bottom: 4px solid $highlight-color-dark;
  }
}

.gallery-controls {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $gallery-controls-height;
  z-index: 1;
  transition: background-color 300ms,
    bottom 300ms;

  .gallery-buttons {
    position: absolute;
    top: -68px;
    left: 20px;
  }

  .btn-play {
    background-color: transparent;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    line-height: 46px;
    font-size: 20px;
    transition: background-color 150ms,
      color 150ms;

    .gallery-controls:hover &,
    &:hover {
      background-color: $highlight-color-dark;
      color: $white;
    }

    &:active {
      background-color: darken($highlight-color-dark, 15%);
      color: $white;
    }

    i {
      position: static;
    }
  }
}

.gallery-image-meta {
  display: none;
  position:  absolute;
  left: 0;
  right: 0;
  font-size: 2.0rem;
  color: $white;
  transition: background-color 300ms;
  z-index: 2;

  @media screen and (min-width: $big-bp) {
    bottom: $gallery-controls-height;
    padding: $default-gutters;
    height: 140px;

    .active & {
      display: flex;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.9);

      .gallery-image-meta__content {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: $small-bp) {
    bottom: 0;

    .active & {
      display: block;
    }
  }

  .gallery-image-meta__header {
    padding-right: 36px;
    padding-left: 16px;
  }

  .gallery-image-meta__content {
    display: inline-flex;
    align-items: center;
    margin-left: auto;

    @media screen and (min-width: $big-bp) {
      opacity: 0;
    }

    @media screen and (max-width: $small-bp) {
      padding: $default-gutters;
      background-color: $black;
      flex-direction: column;
    }

    img {
      margin-right: 24px;
    }
  }

  img {
    width: 100%;
  }
}

.gallery-image-meta__name {
  padding: $default-gutters 0 6px 0;
  font-size: 3.0rem;
}

.gallery-image-meta__description {
  font-size: 1.6rem;
  padding: 0 0 $default-gutters 0;
  margin-bottom: auto;
}

.gallery-image-meta__prints-label {
  margin-right: 24px;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.9);

  @media screen and (max-width: $small-bp) {
    margin: 0 0 $default-gutters 0;
    background-color: $black;
    flex-direction: column;
  }
}

.gallery-image-meta__prints {
  display: flex;
  align-items: center;
  transition: opacity 300ms;
  margin: 0;
  padding: 0;
  height: 90px;

  li + li {
    margin-left: 24px;
  }

  .btn {
    display: block;
    width: 100%;
    padding: 15px 10px;
    font-size: 1.6rem;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

    .gallery-controls:not(:hover) & {
      color: rgba(0, 0, 0, 0.9);
    }
  }
}

.artwork-card {
  align-self: stretch;
  width: 175px;
  border: 2px dashed rgba(255, 255, 255, 0.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  position: relative;
  font-size: 2.4rem;
  font-weight: 100;
  float: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 300ms,
    border-color 300ms,
    border-style 300ms;

  .front, .back {
    transition: opacity 300ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .front {
    opacity: 1;

    div:last-child {
      font-size: 1.6rem;
    }
  }

  .back {
    opacity: 0;
    background-color: $highlight-color-dark;

    a {
      color: $highlight-color-light;
    }
  }

  &:hover {
    background-color: $highlight-color-dark;
    border-style: solid;
    border-color: $highlight-color-dark;

    .front {
      opacity: 0;
    }

    .back {
      opacity: 1;
    }
  }
}

.meta-item {
  display: inline-flex;
  align-items: center;

  &.meta-item--size {
    align-self: stretch;
    width: 175px;
    border: 2px dashed rgba(255, 255, 255, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }

  .meta-item__value {
    font-size: 2.4rem;
    font-weight: 100;
  }
}