.page {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  > section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fade_from_black 3s ease-in;
  }
}

.page-content--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

// Landing page

.landing-page {
  background: $black;
  position: absolute;
  // top: -99999px;
  transition: top 300ms linear 2000ms;
  z-index: 90000;
}

.landing-page--loading {
  top: 0;
}
