.page {
  height: 100vh;
  position: relative;

  > section {
    height: 100vh;
    animation: fade_from_black 3s ease-in;
  }
}

.page-content--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
