.page-container {
  @media screen and (max-width: $small-bp) {
    position: relative;
    height: 100vh;
  }
}

.page {
  background: $white;
  transition: opacity 2s;
  opacity: 0;
  z-index: 1;
  position: relative;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  @media screen and (max-width: $small-bp) {
    display: none;
  }

  @media screen and (min-width: $big-bp) {
    overflow: hidden;
  }

  &.page--active {
    opacity: 1;
    z-index: 100;

    @media screen and (max-width: $small-bp) {
      display: block;
    }
  }

  &.landing-page {
    background: rgba(64,225,200,1);
    background: -moz-linear-gradient(45deg, rgba(64,225,200,1) 0%, rgba(106,33,133,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(64,225,200,1)), color-stop(100%, rgba(106,33,133,1)));
    background: -webkit-linear-gradient(45deg, rgba(64,225,200,1) 0%, rgba(106,33,133,1) 100%);
    background: -o-linear-gradient(45deg, rgba(64,225,200,1) 0%, rgba(106,33,133,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(64,225,200,1) 0%, rgba(106,33,133,1) 100%);
    background: linear-gradient(45deg, rgba(64,225,200,1) 0%, rgba(106,33,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a2185', endColorstr='#40e1c8', GradientType=1 );
  }

  > section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fade_from_black 3s ease-in;
  }
}

.page-content--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-loading-message {
  font-family: $primaryFont;
  font-size: 1.2em;
  letter-spacing: 3px;
  color: $highlight-color-light;
  text-align: center;
  padding: 40px 0 20px;

  @media screen and (min-width: $big-bp) {
    font-size: 2rem;
  }
}