@import '_colors';
@import '_fonts';

$default-gutters: 16px;
$border-radius: 3px;
$brand-primary: darken($purple, 6.5%);
$btn-primary-color: $white;
$btn-primary-bg: transparent;
$btn-primary-border: $white;
$btn-font-weight: $thinFont;

$small-bp: 480px;
$big-bp: 481px;
$tablet-bp: 700px;
$mobile: 0px;
$tablet: 481px;
$laptop: 1024px;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: $casualFont;
  background: $black;
  // background: $black url('/images/bg-wood-octo.png') no-repeat;
  // background-size: cover;
  background: $purple; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjN2FiY2ZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMTJjNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDA5NmVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(45deg, $purple 0%, $teal 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$purple), color-stop(100%,$teal)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,$purple 0%,$teal 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,$purple 0%,$teal 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,$purple 0%,$teal 100%); /* IE10+ */
  background: linear-gradient(135deg,$purple 0%,$teal 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$purple, endColorstr=$teal,GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

h1 {
  margin: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Site Styles

// Keeping awesome gradient here for posterity.
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,312c72+0,4096ee+100 */
// background: $purple; /* Old browsers */
// /* IE9 SVG, needs conditional override of 'filter' to 'none' */
// background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjN2FiY2ZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMTJjNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDA5NmVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
// background: -moz-linear-gradient(45deg, $purple 0%, $teal 100%); /* FF3.6+ */
// background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$purple), color-stop(100%,$teal)); /* Chrome,Safari4+ */
// background: -webkit-linear-gradient(45deg,$purple 0%,$teal 100%); /* Chrome10+,Safari5.1+ */
// background: -o-linear-gradient(45deg,$purple 0%,$teal 100%); /* Opera 11.10+ */
// background: -ms-linear-gradient(45deg,$purple 0%,$teal 100%); /* IE10+ */
// background: linear-gradient(135deg,$purple 0%,$teal 100%); /* W3C */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$purple, endColorstr=$teal,GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

.site-footer {
  background-color: $black;
  color: $transWhite;
  font-weight: $thinFont;
  font-size: 0.6em;
  padding: 10px;
  font-size: 1.4rem;
  z-index: 500;

  @media screen and (min-width: $big-bp) {
    bottom: -40px;
    left: 0;
    right: 0;
    position: absolute;
  }
}