<section class='landing-page page js-page page--active'>
  <div data-ng-include='nav.html'></div>
  <div class='page-content--centered'>
    <div class='artist'>
      <img class='artist-logo' src='images/moxie_logo.png' alt='Moxie' />
      <div class='artist-name'>MoxiE</div>
    </div>
    <div class='page-loading-message'>Please stand by...</div>
  </div>
</section>
<section id='gallery' class='gallery-page page' 
  data-ng-class='{ "gallery-page--mobile": ic.isMobile() }'>
  <div class='artist'>
    <img class='artist-logo' src='images/moxie_logo_black.png' alt='Moxie' />
    <span class='artist-name'>MoxiE</span>
  </div>
  <ul class='gallery'>
    <li data-ng-repeat='image in ic.images'
      data-ng-class='{ "active": ic.isActive(image) }'>
      <div class='gallery__image'
      data-ng-style='ic.getImageStyle(image)'
      data-ng-swipe-up='ic.next(true);'
      data-ng-swipe-down='ic.prev(true);'
      data-ng-swipe-left='ic.prev(true);'
      data-ng-swipe-right='ic.next(true);'></div>
      <div class='gallery-image-meta'>
        <div class='gallery-image-meta__header'>
          <div class='gallery-image-meta__name'
            data-ng-bind='image.name'></div>
          <div class='gallery-image-meta__description'
            data-ng-bind='image.description'></div>
        </div>
        <div class='gallery-image-meta__content'>
          <div class='gallery-image-meta__prints-label'
            data-ng-if='image.prints.length > 0 || image.original_for_sale'>
            Purchase Options
          </div>
          <ul class='gallery-image-meta__prints'>
            <li data-ng-repeat='print in image.prints' class='artwork-card'>
              <div class='flipper'>
                <div class='front'>
                  <div>{{ print.size }}</div>
                  <div>Print</div>
                </div>
                <div class='back'>
                  <a class='btn-link' rel='nofollow'
                    data-ng-if='print.for_sale'
                    data-ng-href='print.purchase_url'>
                    ${{ print.price }}
                  </a>
                  <span data-ng-if='!print.for_sale'>
                    Not for sale, sorry!
                  </span>
                </div>
              </div>
            </li>
            <li data-ng-if='image.original_for_sale' class='artwork-card'>
              <div class='flipper'>
                <div class='front'>
                  <div>{{ image.size }}</div>
                  <div>Original</div>
                </div>
                <div class='back'>
                  <a class='btn-link' rel='nofollow'
                    data-ng-if='image.original_for_sale && !image.original_sold'
                    data-ng-href='image.original_purchase_url'>
                    ${{ image.original_price }}
                  </a>
                  <span data-ng-if='image.original_sold'>
                    SOLD
                  </span>
                  <span data-ng-if='!image.original_for_sale'>
                    Not for sale, sorry!
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <nav class='gallery-controls'>
    <button type='button' class='btn-arrow-previous' title='Previous' data-ng-click='ic.prev(true);'>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2 12l-4.5 4.5 1.527 1.5 5.973-6-5.973-6-1.527 1.5 4.5 4.5z"/></svg>
    </button>
    <button type='button' class='btn-arrow-stop' title='Stop' data-ng-click='ic.stop();' data-ng-show='!ic.isStopped()'>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 2c1.654 0 3 1.346 3 3v14c0 1.654-1.346 3-3 3h-14c-1.654 0-3-1.346-3-3v-14c0-1.654 1.346-3 3-3h14zm0-2h-14c-2.762 0-5 2.239-5 5v14c0 2.761 2.238 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5z"/></svg>
    </button>
    <button type='button' class='btn-arrow-start' title='Start' data-ng-click='ic.start();' data-ng-show='ic.isStopped()'>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z"/></svg>
    </button>
    <button type='button' class='btn-arrow-next' title='Next' data-ng-click='ic.next(true);'>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2 12l-4.5 4.5 1.527 1.5 5.973-6-5.973-6-1.527 1.5 4.5 4.5z"/></svg>
    </button>
  </nav>
  <div class='gallery-grid'
    data-ng-class='{ "gallery-grid--expanded": ic.showGalleryGrid }'>
    <button type='button'
      class='btn-gallery-navigation'
      data-ng-click='ic.toggleGalleryGrid(true);this.blur();'>
      <span>View Gallery</span>
    </button>
    <button type='button'
      class='btn-gallery-close'
      data-ng-click='ic.toggleGalleryGrid(false);'>
      <span>Close</span>
    </button>
    <ul class='gallery-mini'>
      <li class='gallery-mini__image'
        data-ng-class='{ "active": ic.isActive(image) }'
        data-ng-repeat='image in ic.thumb_images | orderBy: "index"'
        data-ng-click='ic.toggleByIndex(image.index)'>
        <div class='gallery-mini__image__flipper'>
          <div class='gallery-mini__image__front' data-ng-style='ic.getImageThumbnailStyle(image)'></div>
          <div class='gallery-mini__image__back'>
            <div class='gallery-mini__image__meta'>
              <div class='gallery-mini__image__meta__header'>
                <div class='gallery-mini__image__meta__name'
                  data-ng-bind='image.name'></div>
                <div class='gallery-mini__image__meta__description'
                  data-ng-bind='image.description'></div>
              </div>
              <div class='gallery-mini__image__meta__content'>
                <div class='gallery-mini__image__meta__prints-label'
                  data-ng-if='image.prints.length > 0 || image.original_for_sale'>
                  Purchase Options
                </div>
                <ul class='gallery-mini__image__meta__prints'>
                  <li data-ng-repeat='print in image.prints' class='purchase-options'>
                    <div class='purchase-options__front'>
                      <div>{{ print.size }}</div>
                      <div>Print</div>
                    </div>
                    <div class='purchase-options__back'>
                      <a class='btn-link' rel='nofollow'
                        data-ng-if='print.for_sale'
                        data-ng-href='print.purchase_url'>
                        ${{ print.price }}
                      </a>
                      <span data-ng-if='!print.for_sale'>
                        Not for sale, sorry!
                      </span>
                    </div>
                  </li>
                  <li data-ng-if='image.original_for_sale' class='purchase-options'>
                    <div class='purchase-options__front'>
                      <div>{{ image.size }}</div>
                      <div>Original</div>
                    </div>
                    <div class='purchase-options__back'>
                      <a class='btn-link' rel='nofollow'
                        data-ng-if='image.original_for_sale && !image.original_sold'
                        data-ng-href='image.original_purchase_url'>
                        ${{ image.original_price }}
                      </a>
                      <span data-ng-if='image.original_sold'>
                        SOLD
                      </span>
                      <span data-ng-if='!image.original_for_sale'>
                        Not for sale, sorry!
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </li>
    </ul>
  </div>
</section>