<section class='landing-page page js-page page--active'>
  <div data-ng-include='nav.html'></div>
  <div class='page-content--centered'>
    <div class='artist'>
      <img class='artist-logo' src='images/moxie_logo.png' alt='Moxie Cat Logo' />
      <div class='artist-name'>MoxiE</div>
    </div>
  </div>
  <div class='page-loading' data-in-effect='wobble' data-out-effect='wobble' data-ng-bind='ic.loadingMessage'></div>
</section>
<section id='gallery' class='gallery-page page'>
  <div class='artist'>
    <img class='artist-logo' src='images/moxie_logo.png' alt='Moxie Cat Logo' />
    <span class='artist-name'>MoxiE</span>
  </div>
  <ul class='gallery'>
    <li data-ng-repeat='image in ic.images'
      data-ng-class='{ "active": ic.isActive(image) }'>
      <div class='gallery__image'
      data-ng-style='ic.getImageStyle(image)'
      data-ng-swipe-up='ic.next(true);'
      data-ng-swipe-down='ic.prev(true);'
      data-ng-swipe-left='ic.prev(true);'
      data-ng-swipe-right='ic.next(true);'></div>
      <div class='gallery-image-meta'>
        <div class='gallery-image-meta__header'>
          <div class='gallery-image-meta__name'
            data-ng-bind='image.name'></div>
          <div class='gallery-image-meta__description'
            data-ng-bind='image.description'></div>
        </div>
        <div class='gallery-image-meta__content'>
          <div class='gallery-image-meta__prints-label'
            data-ng-if='image.prints.length > 0 || image.original_for_sale'>
            Purchase Options
          </div>
          <ul class='gallery-image-meta__prints'>
            <li data-ng-repeat='print in image.prints' class='artwork-card'>
              <div class='flipper'>
                <div class='front'>
                  <div>{{ print.size }}</div>
                  <div>Print</div>
                </div>
                <div class='back'>
                  <a class='btn-link' rel='nofollow'
                    data-ng-if='print.for_sale'
                    data-ng-href='print.purchase_url'>
                    ${{ print.price }}
                  </a>
                  <span data-ng-if='!print.for_sale'>
                    Not for sale, sorry!
                  </span>
                </div>
              </div>
            </li>
            <li data-ng-if='image.original_for_sale' class='artwork-card'>
              <div class='flipper'>
                <div class='front'>
                  <div>{{ image.size }}</div>
                  <div>Original</div>
                </div>
                <div class='back'>
                  <a class='btn-link' rel='nofollow'
                    data-ng-if='image.original_for_sale && !image.original_sold'
                    data-ng-href='image.original_purchase_url'>
                    ${{ image.original_price }}
                  </a>
                  <span data-ng-if='image.original_sold'>
                    SOLD
                  </span>
                  <span data-ng-if='!image.original_for_sale'>
                    Not for sale, sorry!
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <div class='gallery-controls'
    data-ng-class='{ "gallery-controls--expanded": ic.showGalleryControls }'>
    <button type='button'
      class='btn-gallery-navigation'
      data-ng-click='ic.toggleGalleryControls(true);'>
      <span>View Gallery</span>
    </button>
    <button type='button'
      class='btn-gallery-close'
      data-ng-click='ic.toggleGalleryControls(false);'>
      <span>Close</span>
    </button>
    <ul class='gallery-mini'>
      <li class='gallery-mini__image'
        data-ng-class='{ "active": ic.isActive(image) }'
        data-ng-repeat='image in ic.thumb_images | orderBy: "index"'
        data-ng-click='ic.toggleByIndex(image.index)'>
        <div class='gallery-mini__image__flipper'>
          <div class='gallery-mini__image__front' data-ng-style='ic.getImageThumbnailStyle(image)'></div>
          <div class='gallery-mini__image__back'>
            <div class='gallery-mini__image__meta'>
              <div class='gallery-mini__image__meta__header'>
                <div class='gallery-mini__image__meta__name'
                  data-ng-bind='image.name'></div>
                <div class='gallery-mini__image__meta__description'
                  data-ng-bind='image.description'></div>
              </div>
              <div class='gallery-mini__image__meta__content'>
                <div class='gallery-mini__image__meta__prints-label'
                  data-ng-if='image.prints.length > 0 || image.original_for_sale'>
                  Purchase Options
                </div>
                <ul class='gallery-mini__image__meta__prints'>
                  <li data-ng-repeat='print in image.prints' class='purchase-options'>
                    <div class='purchase-options__front'>
                      <div>{{ print.size }}</div>
                      <div>Print</div>
                    </div>
                    <div class='purchase-options__back'>
                      <a class='btn-link' rel='nofollow'
                        data-ng-if='print.for_sale'
                        data-ng-href='print.purchase_url'>
                        ${{ print.price }}
                      </a>
                      <span data-ng-if='!print.for_sale'>
                        Not for sale, sorry!
                      </span>
                    </div>
                  </li>
                  <li data-ng-if='image.original_for_sale' class='purchase-options'>
                    <div class='purchase-options__front'>
                      <div>{{ image.size }}</div>
                      <div>Original</div>
                    </div>
                    <div class='purchase-options__back'>
                      <a class='btn-link' rel='nofollow'
                        data-ng-if='image.original_for_sale && !image.original_sold'
                        data-ng-href='image.original_purchase_url'>
                        ${{ image.original_price }}
                      </a>
                      <span data-ng-if='image.original_sold'>
                        SOLD
                      </span>
                      <span data-ng-if='!image.original_for_sale'>
                        Not for sale, sorry!
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </li>
    </ul>
  </div>
</section>