<section class='landing-page page page--active'>
  <div data-ng-include='nav.html'></div>
  <div class='page-content--centered'>
    <div class='artist'>
      <img class='arting-logo' src='images/moxie_logo.png' alt='Moxie Cat Logo' />
      <div class='artist-name'>MoxiE</div>
      <div class='artist-tagline'>Life Death Art</div>
      <div class='artist-loading' data-in-effect='fadeIn' data-out-effect='fadeOut'>Loading Gallery...</div>
    </div>
  </div>
</section>
<section id='gallery' class='gallery-page page'>
  <div class='artist'>
    <a href='/#/' class='artist-name'>MoxiE</a>
  </div>
  <ul class='gallery'>
    <li data-ng-repeat='image in ic.images'
      data-ng-class='{ "active": ic.isActive(image) }'>
      <div class='gallery__image'
      data-ng-style='ic.getImageStyle(image)'
      data-ng-swipe-left='ic.prev()'
      data-ng-swipe-right='ic.next()'></div>
      <div class='gallery-image-meta'>
        <div class='gallery-image-meta__header'>
          <div class='gallery-image-meta__name'
            data-ng-bind='image.name'></div>
          <div class='gallery-image-meta__description'
            data-ng-bind='image.description'></div>
        </div>
        <div class='gallery-image-meta__content'>
          <div class='gallery-image-meta__prints-label'
            data-ng-if='image.prints.length > 0 || image.original_for_sale'>
            Purchase Options
          </div>
          <ul class='gallery-image-meta__prints'>
            <li data-ng-repeat='print in image.prints' class='artwork-card'>
              <div class='flipper'>
                <div class='front'>
                  <div>{{ print.size }}</div>
                  <div>Print</div>
                </div>
                <div class='back'>
                  <a class='btn-link' rel='nofollow'
                    data-ng-if='print.for_sale'
                    data-ng-href='print.purchase_url'>
                    ${{ print.price }}
                  </a>
                  <span data-ng-if='!print.for_sale'>
                    Not for sale, sorry!
                  </span>
                </div>
              </div>
            </li>
            <li data-ng-if='image.original_for_sale' class='artwork-card'>
              <div class='flipper'>
                <div class='front'>
                  <div>{{ image.size }}</div>
                  <div>Original</div>
                </div>
                <div class='back'>
                  <a class='btn-link' rel='nofollow'
                    data-ng-if='image.original_for_sale && !image.original_sold'
                    data-ng-href='image.original_purchase_url'>
                    ${{ image.original_price }}
                  </a>
                  <span data-ng-if='image.original_sold'>
                    SOLD
                  </span>
                  <span data-ng-if='!image.original_for_sale'>
                    Not for sale, sorry!
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <div class='gallery-controls'>
    <ul class='gallery-mini'>
      <li class='gallery-mini__image'
        data-ng-class='{ "active": ic.isActive(image) }'
        data-ng-style='ic.getImageThumbnailStyle(image)'
        data-ng-repeat='image in ic.thumb_images'
        data-ng-click='ic.toggleByIndex(image.index)'>
      </li>
    </ul>
  </div>
</section>